body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #f3e7e9, #e3eeff);
    min-height: 100vh;
    margin: 0;
    position: relative;
}

h1 {
    margin-top: 20px;
    color: #333;
}

.controls {
    margin: 20px;
}
.controls button,
.controls a {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2196f3;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}
.controls button:hover,
.controls a:hover {
    background-color: #1976d2;
}
/* History */
.history {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 50px;
}
.history div {
    padding: 15px 25px;
    border: 3px solid #333;
    border-radius: 12px;
    font-size: 45px;
    background-color: #fff;
}
.last-number {
    background-color: #f44336 !important;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}

/* Table */
.numbers-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.bingo-header {
    font-size: 50px;
    font-weight: bold;
    background-color: #2196f3;
    color: white;
    padding: 10px;
    width: 70px;
    margin-right: 30px;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid #555;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 38px;
    background-color: #f0f0f0;
    margin: 5px;
    width: calc(100% / 15);
    font-weight: bold;
}
.number:hover {
    background-color: #ddd;
}
.marked {
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
}
.marked:hover {
    background-color: #3b933e;
}

/* Patron */
.bingo-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
    margin: 20px auto;
    max-width: 350px;
}
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 2px solid #555;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    background-color: #fafafa;
}
.cell:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}
.pattern {
    background-color: #ff9800;
    color: #fff;
    font-weight: bold;
}

/* Fondo oscuro temporal para mejorar visibilidad */
.dark-mode {
    background: rgba(0, 0, 0, 0.8);
    transition: background 0.5s ease-in-out;

    position: absolute;
    width: 100%;
    height: 100%;
}