name: Deploy Bingo to Raspberry Pi

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Install cloudflared
        run: |
          curl -L https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64 -o cloudflared
          chmod +x cloudflared
          sudo mv cloudflared /usr/local/bin/cloudflared
          cloudflared --version

      - name: Configure SSH for Cloudflare Access
        run: |
          mkdir -p ~/.ssh
          cat <<EOF >> ~/.ssh/config
          Host ssh.murcia-dev.com
            ProxyCommand /usr/local/bin/cloudflared access ssh --hostname %h
          EOF
          chmod 600 ~/.ssh/config

      - name: Deploy
        env:
          CF_ACCESS_CLIENT_ID: ${{ secrets.CF_ACCESS_CLIENT_ID }}
          CF_ACCESS_CLIENT_SECRET: ${{ secrets.CF_ACCESS_CLIENT_SECRET }}
        run: |
          export CLOUDFLARE_ACCESS_CLIENT_ID=$CF_ACCESS_CLIENT_ID
          export CLOUDFLARE_ACCESS_CLIENT_SECRET=$CF_ACCESS_CLIENT_SECRET

          ssh -o StrictHostKeyChecking=no luis@ssh.murcia-dev.com \
            "cd ~/docker/murcia-dev/bingo && git fetch --all && git reset --hard origin/main && docker restart bingo_site"